.register {
    width: 36rem;
    height: 40rem;

    padding: 6rem 0;
    border-radius: 2rem;
    background-color: #1A1A1A;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-head {
    width: 100%;
    height: 20%;

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.register-head p {
    color: #B3B3B3;
    background-color: transparent;

    width: 70%;

    font-size: 3rem;
}

.register-input {
    width: 100%;
    height: 80%;

    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    gap: 1rem;
}

.register-input input {
    width: 70%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    
    font-size: 1rem;
    color: #F2F2F2;
}

.register-input input:focus {
    outline: 1px solid #B3B3B3;
}

.register-input button {
    background-color: #262626;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;

    width: 70%;

    font-size: 1rem;
    color: #B3B3B3;
    cursor: pointer;
}

.register-input button:active {
    background-color: #2c2c2c;
}

.register-input p {
    color: #B3B3B3;
    background-color: transparent;
    
    font-size: 1rem;
    cursor: pointer;
}