.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 40%;
}

.get-started button {
    width: 30%;
    height: 3rem;

    border-radius: 1.5rem;
    border: none;
    background-color: green;
    
    color: white;
    font-size: 1.2rem;
}